<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <section class="section">
        <div class="container">
            <div>
                <form class="product-form" action="" method="POST">
                    <div class="field">
                        <label class="label">Tasks:</label>
                        <div class="control">
                            <input class="input is-primary" type="text" name="title" placeholder="Enter a Task">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Add Task</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <% if (todoList.length > 0) { %>
            <% for (let todo of todoList) { %>
            <div class="columns is-full">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"><%=todo.task%></p>
                        </div>
                    </div>
                </div>
                <a class="card-footer-item" href="/list/<%=todo.id%>/delete">
                    <span class="icon">
                        <i class="mdi mdi-delete"></i>
                    </span>
                    <span>Delete</span>
                </a>
                <a class="card-footer-item" href="/list/<%=todo.id%>/edit">
                    <span class="icon">
                        <i class="mdi mdi-pencil"></i>
                    </span>
                    <span>Edit</span>
                </a>
            </div>
            <% } %>
        </div>
        <% } else { %>
        <h1>No Tasks are listed.</h1>
        <% } %>
        </div>
    </section>
    <%- include('includes/scripts.ejs') %>
</body>

</html>